@import "./base/_variables";
@import "./base/fonts";
@import "./mixins/helpers";
@import "../styles/base/variables";
@import "../styles/mixins/layout";
// ==========================================================================
// Mobile
// ==========================================================================

// Body Rests

body,
html,
* {
  cursor: none;
}

body,
html {
  // font-family: $baseFontFamily;
  // background-color: black;
  // height: 100%;
  // width: 100%;
  color: $baseFontColor;
  font-weight: $baseFontWeight;
  // position: relative;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $interBold;
}

// ==========================================================================
// Default
// ==========================================================================

@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
  body,
  html {
    overflow: hidden;
  }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
}
