@use "../../../styles/base/variables" as *;
@use "../../../styles/mixins/layout" as layout;
@use "../../../styles/mixins/typography" as *;

.about {
  @include layout.containerResponsiveNew($containerFull: false);

  .heroContainer {
    display: flex;
    position: relative;
    .heroImageContainer {
      display: none;
      position: absolute;
    }
  }

  & {
    font-family: "Inter";
  }

  .chooseUs {
    .textWrap {
      p {
        margin: 0;
        font-family: 300;
        color: $navBlue;
        span {
          font-weight: 700;
        }
      }
    }
  }

  .values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: $breakMobile) {
    .heroContainer {
      padding-bottom: 70px;
    }

    .chooseUs {
      padding-bottom: 70px;
      .textWrap {
        p {
          @include item-type-setting(12, 20, 0);
        }
      }
    }

    .values {
      .valueCards {
        display: flex;
        justify-content: space-evenly;
        width: 250px;
      }

      .svgWrap {
        padding-top: 55px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        .arrowDown {
          width: 40px;
          height: 70px;
        }
      }
    }

    .partners {
      padding-bottom: 70px;
    }
  }

  @media (min-width: $breakLargeMobile) {
    .chooseUs {
      .textWrap {
        text-align: center;
        p {
          @include item-type-setting(14, 20, 0);
        }
      }
    }

    .values {
      .valueCards {
        display: flex;
        justify-content: space-evenly;
        width: 475px;
      }
    }
  }

  @media (min-width: $breakTablet) {
    .heroContainer {
      display: flex;
      justify-content: flex-start;

      .heroImageContainer {
        display: block;
        right: 0;
      }
    }
    .chooseUs {
      padding-top: 70px;
      .textWrap {
        display: flex;
        justify-content: center;
        p {
          text-align: center;
          width: 820px;
          @include item-type-setting(16, 20, 0);
        }
      }
    }

    .values {
      .valueCards {
        width: 600px;
      }
    }
  }

  @media (min-width: $breakDesktop) {
    .heroContainer {
      display: flex;
      justify-content: flex-start;

      .heroImageContainer {
        display: block;
        right: 0;
      }
    }

    .chooseUs {
      padding-top: 40px;
      .textWrap {
        p {
          width: 820px;
        }
      }
    }

    .values {
      .valueCards {
        width: 900px;
      }
    }
  }

  @media (min-width: $breakHd) {
    .chooseUs {
      padding-top: 85px;
    }
  }
}
