@use "../../../styles/base/variables" as *; // Global namespace
@use "../../../styles/mixins/layout" as layout; // Namespaced

// ==========================================================================
// Default
// ==========================================================================
@media (min-width: $breakMobile) {
  // Hamburger icon
  .burgerContainer {
    display: flex;

    .hamburger {
      position: relative;
      display: block;
      float: right;
      cursor: pointer;
      z-index: 3;
      width: 24px;
      height: 18px;
      background: transparent;
      line-height: 30px;
      outline: none;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      padding: 0;
      margin: 0;
      border-radius: 9px;
      border: none;
      span {
        display: block;
        pointer-events: none;
        position: absolute;
        height: 4px;
        width: 100%;
        opacity: 1;
        background: $navBlue;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }
      & span:nth-child(1) {
        top: 0;
      }
      & span:nth-child(2) {
        top: 8px;
      }
      & span:nth-child(3) {
        top: 16px;
      }
      &.active span {
        background: $navBlue;
      }
      &.inverted span {
        background: $navBlue;
      }
      &.active span:nth-child(1) {
        width: 0%;
      }
      &.active span:nth-child(2) {
        transform: rotate(45deg);
        top: 10px;
      }
      &.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }

  .burgerWrap {
    display: flex;
    align-items: center;
    width: 30px;
    .mainMenu {
      display: none;
      margin: 0;
      .menuItem {
        margin: 0;
        list-style: none;
        padding-right: 30px;
        a:hover {
          color: $navBlue;
        }
      }
      .menuItem:last-child {
        padding: 0;
      }
    }
  }
}
// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .burgerWrap {
    display: none;
    .burgerContainer {
      display: none;
    }
  }
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
}
