@use "../../styles/base/variables" as *; // Global namespace
@use "../../styles/mixins/layout" as layout; // Namespaced

.button {
  background-color: $shoreBlue;
  border: none;
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}

// ==========================================================================
// Default
// ==========================================================================

@media (min-width: $breakMobile) {
  .button {
    padding: 8px 12px;
  }
}

// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
  .button {
    padding: 9px 12px;
  }
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
  .button {
    padding: 10px 14px;
    font-size: 15px;
  }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .button {
    padding: 12px 16px;
    font-size: 18px;
  }
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
  .button {
    padding: 14px 18px;
    font-size: 20px;
  }
}
