@use "../../../styles/base/variables" as *;
@use "../../../styles/mixins/layout" as layout;

.navDraw {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: block;

  &.open {
    transform: translateX(0);
  }

  .navWrap {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

// ==========================================================================
// Default
// ==========================================================================

@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .navDraw {
    display: none;
  }
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
}
